<html>
<head>
  <title>Twitter</title>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/application.css">  
</head>
<body>

<div class="content">
  
    <div class="topbar">
    	<div class="button"> <span class="icon">H</span>Startseite
    	</div>	
    		<div class="button"> Verbinden <span class="icon">@</span>
    	</div>	
    		<div class="button"> Entdecken <span class="icon">#</span>
    	</div>	
    		<div class="button"> Account <span class="icon">P</span>
    	</div>
    		<div class="bird"> 
    	</div>		
    		<div class="search"> Suche
    	</div>	
    		<div class="Flyout"> 
    	</div>	
    		<div class="button_tweet">
    	</div>	
    </div>

    <div class="sidebar">
    </div>
    
    <div class="stream">
    </div>
      
</div>

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/javascript/application.js"></script>
</body>
</html>


